<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,PT,L]
</IfModule>

<Files ~ "^\.gitignore$">
   Order allow,deny
   Deny from all
</Files>

<Files ~ "\.md$">
   Order allow,deny
   Deny from all
</Files>
